

@font-face{
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.ttf');

}

body{
	background-color: #fff;
	color: #3f3f3f;
	font: 14px / 28px arial;
	font-family: 'Roboto';
}



.back-to-top {
    position: fixed;
    display: none;
    background: #b5773a;
    color: #ffffff;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    border-radius: 4px;
    z-index: 11;
}

.back-to-top:hover {
    background: #000000;
}

.back-to-top i {
    padding-top: 9px;
    color: #ffffff;
}


/* MenuUstBolum Alanı */
.MenuSection{
	position: relative;
}



.MenuSection .menu-sabit {
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	z-index: 999;
	background-color: #fff;
}


.menuUstBolum .row{
	background-color: #e6a260;
}


.nav-item .nav-link{
	color: #b5773a !important;;
	text-transform: uppercase;
	transition: color .5s ease;
}

.nav-link:hover{
	color: #e6a260 !important;
}

.navbarLog{
	height: 55px;
}

.navbarLog img{
	display: block;
	height: 100%;
}

.navbar-toggler {
	background-color: #e6a260;

}





/* Banner Alanı */

.BannerSection{

	position: relative;
	top: 5px;

}

.BannerSection .container-fluid{
	background: url(../images/item3.jpg) no-repeat center center fixed;
	background-size: cover;
	height: 80vh;

}

.BannerSection .row{
	position: relative;
}

.BannerBody{
	position: relative;
	left: 50px;
	top: 250px;
}

.BannerTextTop{
	color: #F2C48D;
}

.BannerText{

	color: #F2C48D;
}


.BannerSection .btn-outline-secondary{

	background-color: #e6a260 !important;
	color: #E9E0EF;
	border: 1px solid #FFF;
	width: 145px;
	padding-top: 8px;
	height: 45px;
}

.BannerSection .btn-outline-secondary:hover{

	background-color: #E9E0EF  !important;
	color: #000;
}



/* TextSection Bölümü */

.TextSection {

	margin-top: 30px;
}

.TextTop{
	text-align: center;

}

.TextTop h4{
	color: #e6a260;
	font-size: 26px;
}

.TextTop p{
	color: #b5773a;
	font-size: 18px;
}


.TextBody{
	text-align: center;
	margin-top: 25px;
	padding-top: 15px;
}

.TextBody h5{
	font-size: 22px;
	color: #e6a260;
}

.TextBody p{
	color: #b5773a;
	font-size: 16px;
}



.Textİmg {
	margin-top: 15px;
	width: 100%;
	opacity: 1;
}

.Textİmg img{
	display: block;
	width: 100%;
	
}

.Textİmg:hover{
	opacity: 0.8;
	transition: all 1s ease;
	
}



/* Card Bölümü */

.cardSection .container {
	margin-top: 15px;
	border: 1px solid #E9E0EF;
}



.cardHead {
	display: inline-block; 
	margin: 10px;
	border-bottom: 2px solid #E9E0EF;
}

.cardBody {
	margin-top: 25px;
	margin-left: 10px;
	display: flex;
	margin-bottom: 10px;

}

.card{
	border: 1px solid #E9E0EF;
	padding: 2px;
}

.cardimg{
	position: relative;
}

.cardimg img{
	display: block;
	width: 100%;
}

.cardTitle{
	position: absolute;
	bottom: 7%;
	left: 8%;
}

.cardTitleitem {
	display: flex;
}

.cardİtem{
	margin-left: 5px;
	background: #e6a260;
	border-radius: 5px;
	color: #E9E0EF;
	padding: 3px;
	font-size: 18px;	
}


.cardText{
	margin-top: 10px;
	padding: 10px;
	text-align: center;
}
.cardText h4{
	color: #b5773a;
	font-size: 18px;
}

.cardText p {
	color: #b5773a;
	font-size: 16px;
}

.cardBtn {
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
}

.cardBtn .btn-outline-secondary{

	background-color: #e6a260 !important;
	color: #E9E0EF;
	border: 1px solid #FFF;
	padding-top: 5px;
	height: 40px;
	width: 100px; 
	
}

.cardBtn .btn-outline-secondary:hover{

	background-color: #E9E0EF  !important;
	color: #000;
}



/* Slider Bölümü */


.slideSection{
	margin-top: 20px;
	padding-top: 20px;
}



.slideSection .itemDetay{
	position: relative;
	height: 350px;
}

.slideSection .itemDetay img{
	display: block;
	width: 100%;
}

.itemDetayTag {
	position: absolute;
	bottom: 10%;
	left: 10%;

}

.itemDetayTag a{
	padding-right: 10px;
	color: #E9E0EF;
	text-decoration: none;
}

.itemDetayTag span{
	border: 1px solid #FFF;
	background-color: #e6a260 !important;
	padding: 5px;
	border-radius: 10px;
	font-size: 16px;
}

.itemDetayTag span:hover{

	background-color: #E9E0EF;
	color: #000;
}

.owl-prev {

	font-size: 30px !important;
	color: #e6a260 !important;
}

.owl-next{
	font-size: 30px !important;
	color: #e6a260 !important;
}



.sidebarText{
	margin-top: 10px;
	margin-left: 15px;
	text-align: center;
	

}

.sidebarText h4{
	display: inline-block; 
	margin: 10px;
	border-bottom: 2px solid #E9E0EF;
	font-size: 20px;
}

.card-list-group{
	padding: 0;
	margin: 0;
}

.deneme{
	margin: 0;
	padding: 0;
}

.card-list-item{

	list-style: none;
	margin-top: 5px;
	font-size: 16px;
	border-bottom: 2px solid #E9E0EF;
	margin-right: 15px;
}


.SearchTop{
	background-color: #f5f5f0 !important;
}

.card-header{

	color: #b5773a;
	font-size: 22px;
	text-align: center
}

.input-group .btn-outline-secondary{
	

	background-color: #e6a260 !important;
	color: #E9E0EF;
	border: 1px solid #FFF;
	width: 70px;
	margin-left: 5px;
	font-size: 18px;
}

.input-group .btn-outline-secondary:hover{
	
	background-color: #E9E0EF  !important;
	color: #000;
}



/* Footer Bölümü */

.footerSection {
	margin-top: 10px;
	border-top: 2px solid #E9E0EF;
}


.footerText{
	text-align: center;
	margin-top: 10px;
	font-size: 16px;
	color: #b5773a;
}


.footerBody{
	text-align: center;
	color: #e6a260;
	font-size: 18px;
}


.footerblocklist{
	margin: 0;
	padding: 0;
}

.footeritem{
	list-style: none;
	text-align: center;
}

.footeritem a{
	color: #e6a260;
	text-decoration: none;
}

.footeritem a:hover{
	color: #000;
	text-decoration: none;
	text-decoration: underline;
}


.Footersocial i{
	text-align: center;
	margin-top: 10px;
	display: inline-block;
	padding-right: 20px;
	font-size: 26px;
	color: #e6a260;
}

.Footersocial i:hover{
	color: #000;
}




#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:100vh;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius: 15px;
  text-align: center;
}
#boxes #dialog {
  width:450px; 
  height:50vh;
  padding:10px;
  background-color:#ffffff;
  font-family: 'Segoe UI Light', sans-serif;
  font-size: 15pt;
  background: url(../images/mask.jpg)  no-repeat center center fixed;


}
.maintext{
    text-align: center;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
}
body{
  background: url('bg.jpg');
}
#lorem{
	font-family: "Segoe UI", sans-serif;
	font-size: 12pt;
  text-align: left;
}
#popupfoot{
	font-family: "Segoe UI", sans-serif;
	font-size: 16pt;
  padding: 10px 20px;
}
#popupfoot a{
	text-decoration: none;
}
.agree:hover{
  background-color: #D1D1D1;
}
.popupoption:hover{
	background-color:#D1D1D1;
	color: green;
}
.popupoption2:hover{
	
	color: red;
}






@media screen and (max-width: 900px){ 
	.BannerBody{
		display: block;
		width: 400px;


	}
}


@media screen and (max-width: 500px){ 
	.itemDetayTag{
		
		bottom: 20%;

	}

}